{% extends 'show/base.html' %}
{% block title %}Register/Log in {% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-offset-3 col-xs-12 col-sm-5 user-form">
		<h1 class="user-title">Watcher</h1>
		<div class="form-group">
			<form action="" method="post">
			{% csrf_token %}

			{% include 'show/form-template.html' %}
			<br>
			<button class="btn btn-secondary btn-lg" type="submit">Submit</button>

			</form>

		</div><!--form-group-->
	</div><!--col-->
</div><!--row-->

{% endblock %}